[submodule "external/neuromeka-package"]
	path = external/neuromeka-package
	url = https://github.com/neuromeka-robotics/neuromeka-package.git
[submodule "external/MPCGPU"]
	path = external/MPCGPU
	url = https://github.com/A2R-Lab/MPCGPU.git
